html {
  width: max-content;
  height: max-content;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: inherit;
  width: inherit;
}

span, strong, em {
  display: inline-block;
  position: initial;
}

.tekst-wit {
  color: white;
}

.tekst-zwart {
  color: black;
}

.tekst-rood {
  color: red;
}

.tekst-blauw {
  color: blue;
}

.tekst-groen {
  color: green;
}

.tekst-geel {
  color: yellow;
}

.tekst-roze {
  color: pink;
}

.tekst-paars {
  color: purple;
}

.tekst-oranje {
  color: orange;
}

.tekst-grijs {
  color: gray;
}

.tekst-bruin {
  color: brown;
}

.achter-wit {
  background-color: white;
}

.achter-zwart {
  background-color: black;
}

.achter-rood {
  background-color: red;
}

.achter-blauw {
  background-color: blue;
}

.achter-groen {
  background-color: green;
}

.achter-geel {
  background-color: yellow;
}

.achter-roze {
  background-color: pink;
}

.achter-paars {
  background-color: purple;
}

.achter-oranje {
  background-color: orange;
}

.achter-grijs {
  background-color: gray;
}

.achter-bruin {
  background-color: brown;
}

.batman, .robin {
  --transform-x: -50%;
  --transform-y: 0%;
  transform: translate(var(--transform-x), var(--transform-y)) rotate(var(--rotation));
}

.ballon {
  --transform-x: -50%;
  --transform-y: 0%;
  position: absolute;
  left: 50%;
  top: 2%;
  transform: translateY(var(--transform-y)) translateX(var(--transform-x));
  max-width: 98%;
  width: max-content;
  text-wrap: unset;


  &::before {
    left: 50%;
    transform: translate(-2em, -0.2em)
  }

  & div {
    position: relative;
  }
}

.pos-x-0 {
  position: absolute;
  left: 2%;
  --transform-x: 0%;
}

.pos-x-1 {
  position: absolute;
  left: 11.8%;
  --transform-x: -10%;
}

.pos-x-2 {
  position: absolute;
  left: 21.6%;
  --transform-x: -20%;
}

.pos-x-3 {
  position: absolute;
  left: 31.4%;
  --transform-x: -30%;
}

.pos-x-4 {
  position: absolute;
  left: 41.2%;
  --transform-x: -40%;
}

.pos-x-5 {
  position: absolute;
  left: 50%;
  --transform-x: -50%;
}

.pos-x-6 {
  position: absolute;
  left: 59.8%;
  --transform-x: -60%;
}

.pos-x-7 {
  position: absolute;
  left: 69.6%;
  --transform-x: -70%;
}

.pos-x-8 {
  position: absolute;
  left: 79.4%;
  --transform-x: -80%;
}

.pos-x-9 {
  position: absolute;
  left: 89.2%;
  --transform-x: -90%;
}

.pos-x-10 {
  position: absolute;
  left: 98%;
  --transform-x: -100%;
}

.pos-y-0 {
  position: absolute;
  top: 2%;
  --transform-y: 0%;
}

.pos-y-1 {
  position: absolute;
  top: 11.8%;
  --transform-y: -10%;
}

.pos-y-2 {
  position: absolute;
  top: 21.6%;
  --transform-y: -20%;
}

.pos-y-3 {
  position: absolute;
  top: 30.4%;
  --transform-y: -30%;
}

.pos-y-4 {
  position: absolute;
  top: 40.2%;
  --transform-y: -40%;
}

.pos-y-5 {
  position: absolute;
  top: 50%;
  --transform-y: -50%;
}

.pos-y-6 {
  position: absolute;
  top: 59.8%;
  --transform-y: -60%;
}

.pos-y-7 {
  position: absolute;
  top: 69.6%;
  --transform-y: -70%;
}

.pos-y-8 {
  position: absolute;
  top: 79.4%;
  --transform-y: -80%;
}

.pos-y-9 {
  position: absolute;
  top: 89.2%;
  --transform-y: -90%;
}

.pos-y-10 {
  position: absolute;
  top: 98%;
  --transform-y: -100%;
}

.pos-staart-0 {
  &::before {
    left: 0;
  }
}

.pos-staart-1 {
  &::before {
    left: 10%;
  }
}

.pos-staart-2 {
  &::before {
    left: 20%;
  }
}

.pos-staart-3 {
  &::before {
    left: 30%;
  }
}

.pos-staart-4 {
  &::before {
    left: 40%;
  }
}

.pos-staart-5 {
  &::before {
    left: 50%;
  }
}

.pos-staart-6 {
  &::before {
    left: 60%;
  }
}

.pos-staart-7 {
  &::before {
    left: 70%;
  }
}

.pos-staart-8 {
  &::before {
    left: 80%;
  }
}

.pos-staart-9 {
  &::before {
    left: 90%;
  }
}

.pos-staart-10 {
  &::before {
    left: 100%;
  }
}
